
* {
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}


footer,
header,
nav {
    display: block;
}

body {
    background: #f7f7f7;
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
}


ul {
    list-style: none;
}



.wrapper {
    width: 966px;
    margin: 0 auto;
    padding: 50px 48px 60px 46px;
    background: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25);
}

.logo {
    width: 145px;
    height: 40px;
}

.header-nav {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin: 40px auto;
    background: #5e5e5e;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}

.header-nav>a {
    display: block;
    height: 40px;
    margin-right: 35px;
    padding-right: 25px;
    padding-left: 25px;
    color: #fff;
    font-size: 15px;
    line-height: 39px;
    text-decoration: none;
    box-sizing: border-box;
}

.header-nav .selected,
.header-nav a:hover {
    padding-right: 21px;
    padding-left: 24px;
    border-right: 1px solid #828282;
    border-left: 1px solid #828282;
    background: #4a4a4a; 
}

.main-nav {
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 240px;
    float: left;
    border: 1px solid #c6c6c6;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    box-sizing: border-box;
}

.main-nav>a {
    display: block;
    height: 40px;
    padding-left: 22px;
    color: #656363;
    font-size: 13px;
    line-height: 40px;
    text-decoration: none;
    box-sizing: border-box;
}

.main-nav>a:not(:last-child) {
    border-bottom: 1px solid #c6c6c6;
}

.main-nav .selected,
.main-nav a:hover {
    padding-left: 35px;
    background: #f9f9f9;
}

.content {
    width: 678px;
    float: right;
    margin-bottom: 24px;
    color: #2c2b2b;
    font-size: 13px;
    line-height: 21px;
}

.bicycle {
    height: 400px;
    border: 1px solid #c8c8c8;
    box-sizing: border-box;
}

.text-content {
    padding: 35px 24px;
}

.footer,
.footer:after {
    display: block;
    content: '';
    clear: both;
}

.footer {
    height: 40px;
    background: #e1e1e1;
    font-size: 13px;
    line-height: 40px;
}

.footer-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    width: 700px;
    float: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}

.footer-nav>a {
    margin: 0 70px 0 25px;
    color: #2c2c2c;
    text-decoration: none;
}

.footer-nav .selected,
.footer-nav a:hover {
    text-decoration: underline;
}

.copyrights {
    margin-right: 25px;
    float: right;
}
